@media (max-width: 1200px){
    .question{
        &__title{
            font-size: 30px;
        }
        &__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .buttonScroll_descr{
            width: 900px;
            font-size: 19px;
        }
        .descr_button{
            width: 900px;
        }
    }
}
@media (max-width: 992px){
    .question{
        &_title{
            font-size: 30px;
        }
        &__title{
            font-size: 30px;
        }
        .buttonScroll_descr{
            width: 470px;
            font-size: 17px;
        }
        .descr_button{
            width: 470px;
        }
       
    }
}
@media (max-width: 768px){
    .question{
        &_title{
            font-size: 25px;
        }
        &__title{
            font-size: 25px;
        }
        .btn{
            height: 40px;
        }
        &__wrapper{
            margin-top: 25px;
        }
        .buttonScroll_descr{
            width: 460px;
            font-size: 17px;
            border-radius: 5px;
        }
        .descr_button{
            width: 460px;
            border-radius: 5px;
        }
    }
}
@media (max-width: 567px){
    .question{
        padding-bottom: 50px;
        &_title{
            text-align: center;
            font-size: 20px;
        }
        &__title{
            font-size: 20px;
            text-align: center;
        }
        .btn{
            display: block;
            margin: 0 auto;
            margin-top: 20px;
        }
        &__wrapper{
            margin-top: 25px;
        }
       
        .buttonScroll_descr{
            width: 245px;
            font-size: 14px;
            border-radius: 5px;
        }
        .descr_button{
            width: 245px;
            border-radius: 5px;
            font-size: 14px;
        }
        &_arrow{
            img{
                width: 25px;
            }
        }
    }
}