@media (max-width: 1200px){
    .question{
        &__title{
            font-size: 30px;
        }
        &__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &_item{
            width: 900px;
        }
        &_reimes{
            width: 890px;
        }
    }
}
@media (max-width: 992px){
    .question{
        &_title{
            font-size: 30px;
        }
        &__title{
            font-size: 30px;
        }
        &_item{
            width: 680px;
        }
        &_reimes{
            width: 695px;
        }
        &_descr.active{
            width: 715px;
        }
        .question_descr{
            width: 715px;
        }
        .height{
            height: 180px;
        }
    }
}
@media (max-width: 768px){
    .question{
        min-height: 700px;
        &_title{
            font-size: 25px;
        }
        &__title{
            font-size: 25px;
        }
        .btn{
            height: 40px;
        }
        &__wrapper{
            margin-top: 25px;
        }
        &_item{
            width: 480px;
        }
        &_reimes{
            width: 490px;
        }
        &_text{
            font-size: 17px;
        }
        &_descr.active{
            width: 500px;
        }
        .question_descr{
            width: 500px;
        }
        .height{
            height: 180px;
        }
    }
}
@media (max-width: 567px){
    .question{
        min-height: 700px;
        padding-bottom: 50px;
        &_title{
            text-align: center;
            font-size: 20px;
        }
        &__title{
            font-size: 20px;
            text-align: center;
        }
        .btn{
            display: block;
            margin: 0 auto;
            margin-top: 20px;
        }
        &__wrapper{
            margin-top: 25px;
        }
        &_item{
            width: 245px;
        }
        &_reimes{
            width: 265px;
        }
        &_text{
            font-size: 14px;
        }
        .question_descr{
            width: 265px;
            font-size: 13px;
        }
        &_descr.active{
            width: 265px;
            font-size: 13px;
        }
        
        .height{
            height: 320px;
        }
        &_arrow{
            img{
                width: 25px;
            }
        }
    }
}