.question{
    height: auto;
    &_title{
        font-weight: 700;
    }
    &__title{
        font-size: 35px;
        font-weight: 700;
        margin-top: 50px;
    }
    &__wrapper{
        margin-top: 100px;
    }
   
    .descr_button{
        padding-left: 30px;
        padding-right: 30px;
        max-height: 0px;
        overflow: hidden;
        width: 1110px;
        background-color: rgb(238, 238, 238);
        border-radius: 20px;
        margin-top: 15px;
        transition: 0.3s all ease-out;
        
    }
       
        
    }
   
    .buttonScroll_descr{
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1110px;
        color: #0F0F10;
        background-color: rgb(238, 238, 238);
        font-weight: 700;
        box-shadow: 0px 5px 10px rgba(49, 47, 47, 0.144);
        border-radius: 20px;
        padding: 15px 30px 15px 30px;
        margin-top: 10px;
        transition: 0.4s all;
        &:hover{
            box-shadow: none;
        }
    }
   

    .question_arrow{
        img{
            width: 25px;
        }
        &.active{
            transform: rotate(180deg);
        }
    }
